*:not(ul):not(li) {
    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
}
ul, li {
    padding: 0;
    border: 0;
    margin: 0;
}
img, textarea, span {
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}
#app {
    display: grid;

    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(rgb(29, 0, 0) 10%, 65%, rgb(15, 0, 0));

    grid-template-areas:
        "tb tb tb"
        "sp cs cs"
        "sp t t"
    ;
    
    grid-template-columns: 54px 224px 1fr;
    grid-template-rows: 40px 2fr 1fr;
}
#title-bar {
    grid-area: tb;

    display: grid;
    grid-template-columns: auto auto auto;

    background-color: rgb(16, 0, 0);

    border-bottom: 1px solid rgb(66, 37, 37);

    width: auto;
    height: auto;

    user-select: none;
    -webkit-app-region: drag;
}
#title-bar > * * {
    -webkit-app-region: no-drag;
}
#title-bar > * {
    display: flex;
    align-items: center;

    height: 100%;
    width: auto;
}
#title-bar > :first-child {
    justify-content: flex-start;
}
#title-bar > :last-child {
    justify-content: flex-end;
}
#title-bar > * > div {
    display: flex;
    height: 80%;
}
#title-bar > * > * > * {
    height: 45%;
    margin: auto;
}
#app-logo {
    height: 65%;
}
#settings-icon {
    height: 55%;
    transform-origin: center;
    rotate: 0deg;
    transition: rotate ease-in-out 0.25s;
}
#settings-btn:hover #settings-icon {
    rotate: 90deg;
}
.tb-btn {
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.2s;
}
.tb-btn:hover {
    background-color: rgba(255, 11, 76, 0.2);
}
#tb-file, #tb-edit, #tb-view, #tb-help {
    width: 48px;
    min-width: 48px;
    height: 65%;

    margin-left: 3px;
    margin-right: 3px;

    font-size: 14px;
    font-weight: 500;
    font-family: 'Source Code Pro', monospace;
    color: rgb(217, 100, 123);

    padding: 0;
    text-align: center;

    user-select: none;

    outline: none;
    box-shadow: none;
    resize: none;
}
#close-btn {
    margin-right: 4px;
}
#side-panel {
    grid-area: sp;

    display: flex;
    flex-direction: column;

    background-color: rgb(11, 0, 0);

    border-right: 1px solid rgb(66, 37, 37);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
@keyframes slide-anim {
    0% {
        transform: scaleX(0%);
    }
    100% {
        transform: scaleX(100%);
    }
}
#context-panel {
    grid-area: cp;

    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: rgb(15, 0, 0);

    border-right: 1px solid rgb(80, 41, 41);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;

    transform-origin: left;
}
.slide-in {
    animation: slide-anim 0.1s ease-in 0s 1 normal forwards;
}
.slide-out {
    animation: slide-anim 0.1s ease-in 0s 1 reverse forwards;
}
.tab-btn {
    align-self: flex-start;

    display: flex;

    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;

    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.2s;
}
.tab-btn:hover {
    background-color: rgba(255, 11, 76, 0.1);
}
.sp-icons {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    filter: saturate(80%) brightness(80%) hue-rotate(10deg);
}
#coding-space {
    grid-area: cs;

    height: 100%;

    box-sizing: border-box;
    padding: 24px;
    padding-top: 18px;
    padding-bottom: 18px;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Source Code Pro', monospace;
    color: rgb(255, 157, 177);

    tab-size: 4;

    background-color: transparent;
    user-select: none;

    border: none;
    outline: none;
    box-shadow: none;
    resize: none;

    overflow-y: scroll;
    overflow-x: hidden;

    cursor: text;
}
#coding-space:focus {
    cursor: auto;
}
#coding-space::-webkit-scrollbar {
    width: 14px;
}
#coding-space::-webkit-scrollbar-track {
    background-color: rgb(11, 0, 0);
}
#coding-space::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(44, 10, 12);
}
#coding-space::-webkit-scrollbar-thumb:hover {
    background-color: rgb(108, 11, 28);
}
#cp-top {
    width: 90%;
    height: 128px;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;

    box-sizing: border-box;
    padding: 12px;
}
#cp-top::after {
    content: "";
    display: block;
    
    width: 100%;
    height: 1px;

    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(78, 32, 32);
}
#cp-body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    gap: 8px;

    width: 90%;
}
#create-file {
    height: 30px;

    box-sizing: border-box;
    padding: 4px;

    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.2s;
    
    user-select: none;

    outline: none;
    box-shadow: none;
    resize: none;
}
#create-file:hover {
    background-color: rgb(57, 10, 16);
}
#search-file-bar {
    width: 78%;
    height: 30px;

    box-sizing: border-box;
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;

    font-size: 12px;
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;
    color: rgb(242, 131, 153);

    background-color: rgb(44, 1, 1);
    
    user-select: none;

    border: none;
    border-bottom: 2px solid rgb(61, 12, 24);
    /* border-top: 2px solid rgb(63, 15, 28); */
    border-radius: 5px;

    outline: none;
    box-shadow: none;
    resize: none;

    overflow: hidden;

    cursor: text;
}
#search-file {
    height: 30px;

    margin-top: 12px;

    box-sizing: border-box;
    padding: 4px;

    border-radius: 5px;
    background-color: rgb(72, 17, 23);

    border-bottom: 2px solid rgb(125, 30, 55);

    user-select: none;

    outline: none;
    box-shadow: none;
    resize: none;
}
#search-file-bar:focus {
    cursor: auto;
}
#terminal {
    grid-area: t;

    background-color: rgb(16, 0, 0);

    border-top: 1px solid rgb(66, 37, 37);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

@keyframes drop-down {
    0% {
        transform: scaleY(0%);
    }
    100% {
        transform: scaleY(100%);
    }
}
.menu-lists {
    display: none;

    position: absolute;
    z-index: 100;
    
    background-color: rgb(13, 1, 1);
    border-radius: 12px;

    padding: 8px;
    box-sizing: border-box;

    border: 1px solid rgb(66, 37, 37);

    transform-origin: top;
    animation: drop-down 0.15s ease-out 0s 1 normal forwards;
}
.menu-lists > li {
    display: flex;

    align-items: center;
    justify-content: space-between;
    gap: 36px;

    height: 32px !important;

    list-style-type: none;

    font-size: 14px;
    font-weight: 500;
    font-family: 'Source Code Pro', monospace;
    color: rgb(242, 131, 153);

    background-color: transparent;
    transition: background-color 0.2s;

    padding: 8px;
    box-sizing: border-box;

    border-radius: 6px;
}
.menu-lists > li:hover {
    background-color: rgba(255, 11, 76, 0.2);
}
.menu-lists > li > span:last-child {
    font-weight: 400;
    color: rgb(130, 53, 69);
}
.menu-sep {
    width: 90%;
    height: 1px !important;

    margin-top: 8px !important;
    margin-bottom: 8px !important;

    background-color: rgb(66, 37, 37);
}